.brand{
    display: flex;
}

.img{
    margin-right: auto;
    border-radius: 100;
    height: 30px;
    width: 30px;
}

.header{
    background-color: gray;
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}

.navbar{
    display: flex;
    padding: 50px 50px;
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 30px;
}

.first{
    margin-right: 800px;
}

.main{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.checkbox{
    display: inline-flex;
}

/* .light{
    height: 30px;
    width: 100px;
}  */

.footer1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: gray;
    padding: 10px;
  }

.footer2{
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: gray;
    padding: 10px;
  }

  /* table */

  th, td {
    border: 1px solid;
  }

  .center {
    margin: 20px;
    border-spacing: 5px;
    border: solid;
    table-layout: fixed;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* btn */

  .right{
    margin: 15px;
  }

  /* box */

  .color{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    width: 30px;
    height: 30px;
  } 